<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">

    <title>lforms Directive Test</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../bower_components/jquery-ui/themes/ui-lightness/jquery-ui.min.css" />
    <!-- bower:css -->
    <link rel="stylesheet" href="../../bower_components/autocomplete-lhc/source/auto_completion.css" />
    <link rel="stylesheet" href="../../bower_components/lforms/app/styles/lforms.css" />
    <!-- endbower -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin" media="all"/>

    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css" />

    <style>
      .error-message {
        background-color: pink;
        font-weight: bold;
      }
      .warnings-message {
        background-color: yellow;
      }
    </style>
  </head>
  <body ng-app="lformsTestApp">
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->


  <!--[if lt IE 9]>
  <script src="../../bower_components/es5-shim/es5-shim.js"></script>
  <script src="../../bower_components/json3/lib/json3.min.js"></script>
  <![endif]-->

  <!-- bower:js -->
  <script src="../../bower_components/jquery/dist/jquery.js"></script>
  <script src="../../bower_components/oboe/dist/oboe-browser.js"></script>
  <script src="../../bower_components/traverse/traverse.js"></script>
  <script src="../../bower_components/lodash/lodash.js"></script>
  <script src="../../bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="../../bower_components/angular/angular.js"></script>
  <script src="../../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="../../bower_components/autocomplete-lhc/source/polyfill.js"></script>
  <script src="../../bower_components/autocomplete-lhc/source/prototype_api.js"></script>
  <script src="../../bower_components/autocomplete-lhc/source/effects.js"></script>
  <script src="../../bower_components/autocomplete-lhc/source/effectScroll.js"></script>
  <script src="../../bower_components/autocomplete-lhc/source/event.simulate.js"></script>
  <script src="../../bower_components/autocomplete-lhc/source/observable.js"></script>
  <script src="../../bower_components/autocomplete-lhc/source/screenReaderLog.js"></script>
  <script src="../../bower_components/autocomplete-lhc/source/recordDataRequester.js"></script>
  <script src="../../bower_components/autocomplete-lhc/source/fieldAlarms.js"></script>
  <script src="../../bower_components/autocomplete-lhc/soundmanager/bonk.js"></script>
  <script src="../../bower_components/autocomplete-lhc/source/dialog.js"></script>
  <script src="../../bower_components/autocomplete-lhc/source/autoCompBase.js"></script>
  <script src="../../bower_components/autocomplete-lhc/source/suggestionDialog.js"></script>
  <script src="../../bower_components/autocomplete-lhc/source/autoCompPrefetch.js"></script>
  <script src="../../bower_components/autocomplete-lhc/source/autoCompSearch.js"></script>
  <script src="../../bower_components/autocomplete-lhc/source/autoCompEvents.js"></script>
  <script src="../../bower_components/autocomplete-lhc/source/autocomplete-lhc.js"></script>
  <script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../../bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
  <script src="../../bower_components/element-resize-detector/dist/element-resize-detector.js"></script>
  <script src="../../bower_components/lforms/app/lforms.js"></script>
  <script src="../../bower_components/lforms/app/scripts/lforms-constants.js"></script>
  <script src="../../bower_components/lforms/app/scripts/lforms-config.js"></script>
  <script src="../../bower_components/lforms/app/scripts/lforms-controllers.js"></script>
  <script src="../../bower_components/lforms/app/scripts/lforms-directives.js"></script>
  <script src="../../bower_components/lforms/app/scripts/lib/date.js"></script>
  <script src="../../bower_components/lforms/app/scripts/lib/js-class.js"></script>
  <script src="../../bower_components/lforms/app/scripts/lib/cross_browser.js"></script>
  <script src="../../bower_components/lforms/app/scripts/lib/lforms-util.js"></script>
  <script src="../../bower_components/lforms/app/scripts/lib/polyfill.js"></script>
  <script src="../../bower_components/lforms/app/scripts/lib/lforms-hl7.js"></script>
  <script src="../../bower_components/lforms/app/scripts/lib/lforms-fhir.js"></script>
  <script src="../../bower_components/lforms/app/scripts/lib/lforms-validate.js"></script>
  <script src="../../bower_components/lforms/app/scripts/lib/lforms-data.js"></script>
  <script src="../../bower_components/lforms/app/lforms.tpl.js"></script>
  <script src="../../bower_components/angular-route/angular-route.js"></script>
  <script src="../../bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="../../parser/ast.js"></script>
  <script src="../../parser/skl-parser.js"></script>
  <script src="../../parser/skl-condition-parser.js"></script>
  <!-- endbower -->

  <script src="../../lforms-converter.js"></script>

  <!-- lforms test controller -->
  <script type="text/javascript">
    angular.module('lformsTestApp', ['lformsWidget', 'ngRoute', 'ngSanitize'])
      .config(function($routeProvider) {
        $routeProvider
          .when('/', {
            controller: 'lformsTestController',
            templateUrl: 'lforms-test.html'
          })
          .when('/:testFormsPath/:tinyId/:raw?', {
            controller: 'lformsTestController',
            templateUrl: 'lforms-test.html'
          })
          .otherwise({redirectTo: '/'});
      })
      .controller('lformsTestController', ['$scope', '$routeParams', function ($scope, $routeParams) {

        var objectUrl = null;
        if(typeof $routeParams.testFormsPath !== 'undefined' && $routeParams.testFormsPath === 'cde') {
          $scope.testForm = 'https://cde.nlm.nih.gov/form/' + $routeParams.tinyId;
          $scope.chb = $routeParams.raw === "raw" ? true : false;
        }
        else {
          $scope.testFormsPath = 'test/';
          $scope.testForm = $scope.testFormsPath + 'bJ5Sm82g8.json';
        }
        $scope.lformsOpts = {
          hideHeader: false
        };


        /**
         * Handle export button
         *
         */
        $scope.export = function() {

          var content = JSON.stringify($scope.rawLFData, null, 2);
          var blob = new Blob([content], {type: 'application/json;charset=utf-8'});
          var exportFileName = $scope.testForm ? $scope.testForm :
                               'convertedForm';


          exportFileName = exportFileName.replace(/^.*[\/\\]([^\/\\]+)$/, '$1');

          if(exportFileName.search(/\.json$/) < 0) {
            exportFileName = exportFileName + '.json';
          }



          // Use hidden anchor to do file download.
          var downloadLink = angular.element(document.getElementById('exportAnchor'));
          var urlFactory = (window.URL || window.webkitURL);
          if(objectUrl != null) {
            // First release any resources on existing object url
            urlFactory.revokeObjectURL(objectUrl);
          }
          objectUrl = urlFactory.createObjectURL(blob);
          downloadLink.attr('href', objectUrl);
          downloadLink.attr('download', exportFileName);
          downloadLink[0].click();
        };

        $scope.setLfData = function() {
          var converter = new LForms.LFormsConverter();
          converter.convert($scope.testForm,
            function(lfData, warnings) {
              $scope.rawLFData = angular.copy(lfData);
              $scope.lfData = new LFormsData(lfData);
              $scope.lfData.setTemplateOptions({hideHeader: false});
              $scope.$apply($scope.lfData);
              if(warnings && warnings.length > 0) {
                addWarnings(warnings);
              }
              else {
                removeWarnings();
              }
            },
            function(err) {
              $scope.error = err;
            },
            {}
          );
        };

        $scope.getRawJson = function() {
          return JSON.stringify($scope.rawLFData, null, 2);
        };


        addWarnings = function(warnings) {
          if(!$scope.warnings) {
            $scope.warnings = [];
          }
          $scope.warnings = $scope.warnings.concat(warnings);
        };

        removeWarnings = function() {
          $scope.warnings = null;
        };

        $scope.showWarnings = function() {
          var ret = null;
          if($scope.warnings && $scope.warnings.length > 0) {
            ret = $scope.warnings.join('<br>');
          }
          return ret;
        };

        $scope.setLfData();
      }]);
  </script>

  <script type="text/ng-template" id="lforms-test.html">

    <select id="formSelector" ng-model="testForm" ng-change="setLfData()">
      <option value="test/bJ5Sm82g8.json">Form with new changes</option>
      <!-- Form to test matrix display of answer list-->
      <option value="test/Q1S9NhOK8e.json">Form with matrix display</option>
      <option value="test/712ArJSHYl.json">Short Form 36-Item Health Survey (SF-36)</option>
      <option value="test/mktzfTiYx.json">Form with different skip logic conditions</option>
      <option value="test/invalid-skiplogic-source.json">Form with invalid skip logic source</option>
    </select>
    <label><input type="checkbox" ng-model="chb">Raw json</label>
    <button ng-click="export()">Export</button>
    <a target="_self" id="exportAnchor" class="hide">Export</a>

    <div ng-show="error" class="error-message">{{error}}</div>
    <div ng-show="warnings" class="warnings-message" ng-bind-html="showWarnings()"></div>

    <lforms ng-hide="chb" lf-data="lfData" lf-options="lformsOpts"></lforms>
    <pre ng-show="chb">{{getRawJson()}}</pre>

  </script>

  <div ng-view=""></div>

  </body>
</html>
